<h4 class="YuGothic_b"><%= @studio.name %></h4>

<div class="container-show">
<div class="container">
  <div class="row">
<!-- 左側 -->
    <div class="main_left col-xs-12 col-lg-7">

      <div class="image-view">
        <!-- 任意のID指定。クラスとデータ属性の指定。 -->
        <div id="carousel-img" class="carousel slide" data-ride="carousel">
          <!-- インジケーターの設置。下部の○●ボタン。 -->
          <ol class="carousel-indicators">
            <!--枚数に応じて分岐-->
            <% @studio_photo_urls.each_with_index do |studio_photo_url, i| %>
              <% if i == 0 %>
                <li data-target="#carousel-img" data-slide-to="0" class="active"></li>
              <% else %>
                <li data-target="#carousel-img" data-slide-to="1"></li>
              <% end %>
            <% end %>
          </ol>

          <!-- スライドの内容 -->
          <div class="carousel-inner">
            <!--枚数に応じて分岐-->
            <% @studio_photo_urls.each_with_index do |studio_photo_url, i| %>
              <% if i == 0 %>
                <div class="item active">
                  <div class="image_trim">
                  <img src="/images/studios/<%= studio_photo_url %>" alt="">
                  </div>
                </div>
              <% else %>
                <div class="item">
                  <div class="image_trim">
                  <img src="/images/studios/<%= studio_photo_url %>" alt="">
                  </div>
                </div>
              <% end %>
            <% end %>
            
          </div>
          
          <!-- 左右の移動ボタン -->
          <a class="left carousel-control" href="#carousel-img" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" href="#carousel-img" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="charge">
        <h5><i class="fas fa-info-circle"></i>利用料金</h5>
        <table class="table">
          <thead>
          <tr>
          <th>平日</th>
          <th>土日祝</th>
          </thead>
          <tbody>
          <tr>
          <td><%= @studio.charge_weekday %>円 ~</td>
          <td><%= @studio.charge_holiday %>円 ~</td>
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    
<!-- 右側 -->
    <div class="main_right col-xs-12 col-lg-5">
      <div class="studio_info">
        <h5><i class="fas fa-info-circle"></i>基本情報</h5>
        <!-----------最寄駅ここから----------->
        <div class="station row center-block">
          <div class="row">
            <div class="title col-xs-3">
              最寄駅
            </div>
            <div class="content col-xs-9">
              <%= @studio.station %>
            </div>
          </div>
        </div>
        <!-----------最寄駅ここまで----------->
        <!-----------住所ここから----------->
        <div class="address row center-block">
          <div class="row">
            <div class="title col-xs-3">
              住所
            </div>
            <div class="content col-xs-9">
              <%= @studio.address %>
            </div>
          </div>
        </div>
        <!-----------住所ここまで----------->
        <!-----------営業時間ここから----------->
        <div class="business_hours row center-block">
          <div class="row">
            <div class="title col-xs-3">
              営業時間
            </div>
            <div class="content col-xs-9">
              <%= @studio.business_hours %>
            </div>
          </div>
        </div>
        <!-----------営業時間ここまで----------->
        <!-----------定休日ここから----------->
        <div class="day_off row center-block">
          <div class="row">
            <div class="title col-xs-3">
              定休日
            </div>
            <div class="content col-xs-9">
              <%= @studio.day_off %>
            </div>
          </div>
        </div>
        <!-----------定休日ここまで----------->
        <!-----------電話番号ここから----------->
        <div class="tel row center-block">
          <div class="row">
            <div class="title col-xs-3">
              電話番号
            </div>
            <div class="content col-xs-9">
              <%= @studio.tel %>
            </div>
          </div>
        </div>
        <!-----------電話番号ここまで----------->
        <!-----------URLここから----------->
        <div class="url row center-block">
          <div class="row">
            <div class="title col-xs-3">
              URL
            </div>
            <div class="content col-xs-9">
              <%= link_to @studio.url, @studio.url,:target=>["_blank"] %>
            </div>
          </div>
        </div>
        <!-----------URLここまで----------->
      </div>
      
      <div class="map_content">
        <h5><i class="fas fa-map-marker-alt"></i>地図</h5>

          <!--googlemapで開くボタン-->
          <%= link_to  "https://www.google.co.jp/maps?q="+@studio.name+"\s"+@studio.address,
          class: 'googlemap_open btn btn-default btn-xs',:target=>["_blank"] do %>
            <i class="fas fa-external-link-alt"></i>
            <span>GoogleMapで開く</span>
          <% end %>

        <!-- map表示 -->
        <div id="map" class="studio_map"></div>
      </div>
    </div>

  </div>
</div>
</div>























<script type="text/javascript">
function initMap() {

  var test ={lat: <%= @place["lat"] %>, lng: <%= @place["lng"] %>};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: test
  });
  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  var contentString = '住所：<%= @studio.address %>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    position:test,
    map: map,
    title: contentString
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}
 </script>
 
 <script async defer
   src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBfR6RF3Bxj1C9Qa9-JzyxqXejrQL6kZas&callback=initMap">
 </script>
 
